@require('./ResultsTable.styl')
@require('./ResultsLine.styl')
@require('./BulgariaMap.styl')
@require('./Header.styl')
@require('./Footer.styl')
@require('./SubdivisionTable.styl')
 
@font-face
   font-family Montserrat
   font-style normal
   src url(../../public/fonts/Montserrat-Regular.ttf)

html
    //font-family 'Arial', 'sans-serif'
    //font-family 'Roboto', sans-serif
    font-family: 'Montserrat', sans-serif;

    //background-color #ededed
    background-color white

.wrapper
    width 900px
    margin 0 auto





