html
    //font-family 'Arial', 'sans-serif'
    //font-family 'Roboto', sans-serif
    font-family: 'Montserrat', sans-serif;

    //background-color #ededed
    background-color white

#bulgaria-map
    path
        fill #ccc
        stroke white
        stroke-width 50px
    path:hover
        cursor pointer
        fill #666

.wrapper
    width 1100px
    margin 0 auto

header
    background-color #24B9CD
    color white
    padding 10px 0
    //border-bottom 2px solid #1d99aa;
    height 37px

    h1
        margin 0
        text-shadow 0px 0px 10px #999

footer
    background-color #ddd
    padding 10px
    box-sizing border-box
    height 71px

    p
        text-align center
        font-weight bold
        color #555

#global-data
    background-color white
    padding 50px 20px 25px 20px
    //border 1px solid #d9d9d9
    border-radius 5px

    h1
        text-align center

    table
        width 100%
        //font-weight bold
        color #666
        font-size 28px

        td
            padding 5px 20px
            box-sizing border-box

        .vote-percent-bar
            height 10px
            //display inline-block
            background-color #eee
            transition width 0.5s ease
            width 0

        .vote-percent-remaining
            display inline-block
            border-top none
            box-sizing border-box
            margin 5px 0
            border-color #ccc

        //row1size = 72px
        //row3size = 180px
        //row4size = 110px

        td:nth-child(1)
            text-align right
            width 72px

        td:nth-child(2)
            width calc(100% - 72px)

        //td:nth-child(3)
        //    text-align right
        //    width row3size

        //td:nth-child(4)
        //    text-align right
        //    width row4size

        .threshold-row
            font-size 12px
            color #777

            hr
                border-color #aaa
                border-top none

#regional-data
    table
        width 100%
        font-weight bold
        color #666
        font-size 28px

        td
            padding 5px 20px

        td:nth-child(1)
            text-align right

        td:nth-child(3)
            text-align right
    #section-list
        a
            margin 10px
            display inline-block

#section-data
    table
        width 100%
        font-weight bold
        color #666
        font-size 28px

        td
            padding 5px 20px

        td:nth-child(1)
            text-align right

        td:nth-child(3)
            text-align right
        td:nth-child(4)
            text-align right

