.header-compensator
    height 60px

header
    background-color #00D5BD
    color white
    padding 8px 0
    //border-bottom 2px solid #1d99aa;
    height 60px
    position fixed
    box-sizing border-box
    top 0
    width 100%
    z-index 20

    a
        margin 0

        svg
            height 45px

        .app-title
            vertical-align top
            display inline-block
            color white
            font-size 34px