.results-line
    .legend
        .legend-item
            display inline-block
            vertical-align top
            margin 0 6px
            color #bbb

            .legend-item-color
                width 10px
                height 10px
                display inline-block
                margin 2px

    .result-line-segment
        display inline-block
        background-color #777
        height 50px
        
        &.thin
            height 20px

        &:hover
            //cursor pointer
            box-shadow 0px 0px 3px #000