table.subdivision-table
    width 100%
    color #666
    font-size 22px

    td
        padding 5px 20px
        box-sizing border-box

    td:nth-child(1)
        text-align right
        width 250px

    td:nth-child(2)
        width calc(100% - 250px)

    a
        color blue