.lg-only {
    display: none;
}

@media(min-width: 800px) {
    .lg-only {
        display: block !important;
    }
}

dl {
    display: flex;
    flex-wrap: wrap;
}
dt {
    width: 33%;
}
dd {
    margin-left: auto;
    width: 66%;
}
